#box1 {
	height: 180px;
	width: 40%;
	background-color: aliceblue;
	border: 1px solid #ccc;
	border-radius: 15px;
	position: fixed;
	bottom: 0;
	left: 0;
	display: grid;
	grid-template-columns: 1fr 50% 1fr;
	grid-template-rows: 20% 1fr 1fr;
}

#saveb {
	grid-column: 1;
	grid-row: 1 / 4;
}

#saveb {
	background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color: #44c767;
	border-radius: 28px;
	border: 1px solid #18ab29;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 17px;
	padding: 18%;
	margin: auto;
	text-decoration: none;
	text-align: center;
	text-shadow: 0px 1px 0px #2f6627;
}
#saveb:hover {
	background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color: #5cbf2a;
}
#saveb:active {
	position: relative;
	top: 1px;
}

#playb {
	grid-column: 3;
	grid-row: 1 / 4;
}

#playb {
	background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color: #599bb3;
	border-radius: 28px;
	border: 1px solid #29668f;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 17px;
	padding: 18%;
	margin: auto;
	text-decoration: none;
	text-shadow: 0px 1px 0px #3d768a;
}
#playb:hover {
	background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color: #408c99;
}
#playb:active {
	position: relative;
	top: 1px;
}

#text1 {
	grid-column: 2;
	grid-row: 1 / 2;
	margin: 2%;
	margin-top: 1.5%;
	height: 90%;
	width: 96%;
	background-color: #eee;
	border: 1px solid rgb(131, 131, 131);
	border-radius: 5px;
}

#textarea1 {
	grid-column: 2;
	grid-row: 2 / 4;
}
#textarea1 {
	height: 90%;
	width: 96%;
	margin: 2%;
	background-color: #eee;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 5px;
	overflow-y: auto;
}

